footer {
    width: 100%;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-navbar {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.footer-navbar img {
    width: 180px;
}

.footer-navbar nav ul li {
    list-style: none;
    padding: 5px 0;
}

.footer-navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.footer-navbar nav ul li a:hover {
    color: #EB5757;
}

.footer-info .social-icons {
    display: flex;
    align-items: center;
    gap: 0 20px;
    font-size: 20px;
    color: white;
    opacity: 0.8;
    
}

.footer-info .social-icons i {
    cursor: pointer;
    transition: .2s ease-in;
}

.footer-info .social-icons i:hover {
    color: #EB5757;
    transform: scale(1.5);
    
}

.copyright {
    color: white;
    font-size: 10px;
    font-weight: 200;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 0 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}